<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <UI.Properties.Settings>
            <setting name="Language" serializeAs="String">
                <value>vi</value>
            </setting>
            <setting name="Theme" serializeAs="String">
                <value>	Sáng</value>
            </setting>
            <setting name="EnableAnimations" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FontSize" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="NotifyRegistrationExpiry" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NotifyInsuranceExpiry" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NotifyRentalExpiry" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NotificationDaysBefore" serializeAs="String">
                <value>7</value>
            </setting>
        </UI.Properties.Settings>
    </userSettings>
</configuration>